/*********************START SCREEN******************/
.startScreen {
    background: linear-gradient(-180deg, #F3FDFF 0%, #E4F9FF 100%);
    color: #808080;
}

/*big blue button*/
.startButton {
    background: #2FA7FD;
    box-shadow: 0 6px 14px 0 rgba(71,77,83,0.29);
    border-radius: 8px;

}
/*big blue button text*/
.startButtonText {
    font-family: OpenSans-Bold;
    font-size: 38px;
    color: #FFFFFF;
    text-transform: uppercase;
}

/*********************MAIN GAME SCREEN******************/
.mainScreen {
    position: relative;
    background-image: url('../assets/main_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}

/*big blue button*/
.playSoundButton {
    background: #2FA7FD;
    box-shadow: 0 6px 14px 0 rgba(71,77,83,0.29);
    border-radius: 8px;
    background-image: url(../assets/play.svg);
    background-repeat: no-repeat;
    background-position: 100% 55%;
    text-transform: uppercase;
}
/*level count*/

.levelCount {
    font-family: OpenSans-Bold;
    font-size: 25px;
    color: #4A90E2;
    position: absolute;
    top: 10px;
    right: 10px;
}

.backButton {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(-180deg, #F3FDFF 0%, #E4F9FF 100%);
}

.tellTheTimeGroup {
    position: absolute;
    bottom: 120px;
    left: 150px;
}
/********************* CORRECT ******************/

/* background */
.correctButton {
    background: #50E585;
    box-shadow: 0 6px 14px 0 rgba(27, 62, 28, 0.50);
    border-radius: 8px;
}

.tellTheTimeResult {
    text-transform: uppercase;
}
/* correct text */
.tellTheTimeResultButtonText {
    font-family: OpenSans-Bold;
    font-size: 38px;
    color: #FFFFFF;
    background-image: url(../assets/next.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-left: 2px solid dimgray;
}

/* next */
.nextButtonText {
    font-family: OpenSans-Bold;
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
    top: -25px;
    left: -5px;
}

/********************* CORRECT ******************/
/* incorrect text: */
.incorrectButtonText {
    font-family: OpenSans-Bold;
    font-size: 30px;
    color: #FFFFFF;
}


/********************* FINISH ******************/

/* white title: */
.finish {
    background: #FFFFFF;
    box-shadow: 0 6px 14px 0 rgba(207,207,207,0.50);
    border-radius: 8px;
}


/* You got + Correct */
.finishMessage {
    font-family: OpenSans-Bold;
    font-size: 25px;
    color: #4A90E2;
    text-align: center;
}

/* correct number count */
.correctNumberCount {
    font-family: OpenSans-Bold;
    font-size: 164px;
    color: #2FA7FD;
    text-align: center;
}