body { margin: 0; padding: 0;}
canvas {
  background-image:url('../images/main_bg.png');
  background-repeat:no-repeat;
  background-size:cover;
  height: 100%;
  width: 100%;
  background-position:center;

 }

.button {
  background: #2FA7FD;
  box-shadow: 0 6px 14px 0 rgba(71,77,83,0.29);
  border-radius: 8px;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.tb2 {
  background: #FFFFFF;
  border: 3px solid #4A90E2;
  box-shadow: 0 6px 14px 0 rgba(27,37,62,0.50);
  border-radius: 8px;
  font-family: OpenSans-Bold;
  font-size: 40px;
  color: #9B9B9B;
}
